.img-small {
  max-width: 70%; 
 }

.navbar-icon{
  width: 15%;
  height: auto;
}

.navbar-icon-link .navbar-icon {
  margin-right: 20px;
}

.product-card-thick-border {
  border: 3px solid rgb(115, 200, 249);
}
.shopping-cart-icon {
  width: 20px; 
  height: 20px;
  margin-right: 5px; 
}

.btn-sm {
  font-size: 14px; 
  padding: 5px 10px; 
}
.list-unstyled h2 {
  font-weight: bold;
}

.producto-titulo {
  font-weight: bold;
  font-size:40px;
  color: rgb(115, 200, 249);
  
}

.btn-secondary.btn-sm {
  background-color: #f0f0f0;
  color: blue;
  border-color: blue;
}

